  .image1 {
      width: 60%;
      height: 60%;
      align-items: center;
      object-fit: contain;
}

  #image2 {
    
    text-align: center;
  }
  h1 {
    border: 20px solid powderblue;
    text-align: center
  }
  h2 {
    border: 20px solid powderblue;
    text-align: center
}
    #animals {
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: extra-expanded
    
}
#yelpreview {
  text-align: auto;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-stretch: extra-expanded;
  text-align: right;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-stretch: extra-expanded
}