
  #image1 {
    
    text-align: center;
  }
  h1 {
    border: 20px solid powderblue;
    text-align: center
  }
  h2 {
    border: 20px solid powderblue;
    text-align: center
}
    #animals {
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: extra-expanded
}